body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 500px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #3081D0;
    border-radius: 20px;
    margin-bottom: 4px;
}

button {
    background: #3081D0;
    color: white;
    padding: 10px 20px;
    border: 1px solid #3081D0;
    border-radius: 20px;
    font-weight: bold;
}

button:hover {
    color: black;
}

#delete-btn {
    background: white;
    color: #3081D0;
}

#delete-btn:hover {
    color: black;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #3081D0;
}


